* {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: white;
}
body {
	background-color: #56526a;
}
input {
	background-color: #56526a;
	border: none;
	font-size: 16px;
}
button,
button:active,
button:focus {
    outline: none;
		cursor: pointer;
}
p {
  margin: 0.5em 0.5em 0.5em 0;
}
ul {
  margin-left: 0px;
}
#centralBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#infoBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 500px;
  align-self: center;
}
#reset {
	border: solid 1px white;
	background-color: #4b475c;
	margin-top: 5px;
	border: none
}
#row:hover {
	cursor: pointer;
}
#board {
  display: flex;
  justify-content: center;
	height: 500px;
	width: 500px;
	align-items: center;
}
#box {
  display: flex;
  justify-content: center;
	height: 500px;
	width: 500px;
	align-items: center;
}
.menu_button {
	display: flex;
  width: 200px;
	border: none;
	font: inherit;
	padding-left: 0px;
  padding-bottom: 1em;
}
.board_checked {
	display: flex;
	flex-direction: column;
	align-self	: center;
}
#moves {
}
.time {
	font-size: 16px;
}
.logo_header {
  padding-left: 38px;
}

/* POPUP style */
.b-popup{
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.8);
    overflow: hidden;
    position: absolute;
    top: 1200px;
    padding-top: 1000px;
    z-index: 100;
}
@media only screen and (min-width: 768px){
  .b-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.8);
    overflow: hidden;
    position: absolute;
    top: 1350px;
    padding-top: 1000px;
    z-index: 100;
  }
}
@media only screen and (min-width: 1200px){
  .b-popup {
    /* width: 100%; */
    min-height: 100%;
    background-color: rgba(0,0,0,0.8);
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 0px;
    z-index: 3000;
  }
}
.b-popup .b-popup-content{
    padding-top: 15%;
    width: 270px;
    height: 393px;
    margin: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
@media only screen and (min-width: 768px){
  .b-popup .b-popup-content {
    width: 646px;
    height: 402px;
    margin: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
@media only screen and (min-width: 1200px){
  .b-popup .b-popup-content {
    width: 702px;
    height: 552px;
    margin: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
.b_popup_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.victory {
  font-size: 2em;
}
.cross {
  align-self: flex-end;
  display: inherit;
  border: 2px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: flex-end;
}
.cross:hover {
  background-color: white;
}
